    body {
        font-family: Arial, sans-serif;
        margin: 40px;
    }

    fieldset {
        max-width: 400px;
        padding: 20px;
    }

    label {
        display: block;
        margin-top: 10px;
    }

    input[type="submit"] {
        margin-top: 15px;
    }

    .error {
        color: red;
        font-size: 0.9em;
    }

    #submit-btn {
        display: flex;
        flex-direction: column;
        color: #fff;
        background-color: green;
        font-size: 1em;
        border-radius: 90px;
        width: 90px;
        height: 30px;
        border: #fff;
        justify-content: center;
        /* horizontal */
        align-items: center;
        margin: 0 auto;
    }

    #submit-btn:hover {
        cursor: pointer;
    }